<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Agile Tracker{% endblock %}</title>
</head>
<body>
   <header>
        <h1><a href="{% url 'home' %}">Agile Tracker</a></h1>
        {% block page_specific_title %}{% endblock %}
    </header>
    <nav>
        <!-- Navigation links here -->
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>


